$primary: #53b6d0;
$dark-gray: #5c5c5c;
$medium: "screen and (min-width : 768px)";

* {
    font-family: "Abel";
}

body {
    background: #fff;
    margin: 0 0 20px 0;
}

.bg-primary {
    background: $primary; 
}

.bg-darkgray {
    background: $dark-gray;
}

.color-white {
    color: #fff;
}

.color-primary {
    color: $primary;
}

.color-darkgray {
    color: $dark-gray;
}

p {
    font-size: 1.3em;
}

img {
    max-width: 100%;
}

.avatar {
    text-align: center;
}

.card {
    border: 3px solid $primary;
    box-shadow: 5px 5px 5px #999;
    padding-bottom: 7px;
    margin: 30px 0;
    
    @media #{$medium} {
        margin: 60px 0 0;
    }
}

.spacer {
    display: block;
    height: 30px;
}