$primary: #53b6d0;

* {
    font-family: "Abel";
}

body {
    padding-top: 50px;
}

.bg-primary {
    background: $primary;
}

.color-primary {
    color: $primary;
}

p {
    font-size: 1.3em;
}

.card {
    border: 1px solid $primary;
    box-shadow: 5px 5px 5px #999;
}